.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.inputText {
  text-align: center;
}

.result {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
